/* 全体 */
body,
html {
    background-color: #494949;
    color: #faebd7;
}
body {
    margin: 0;
}
/* タイポグラフィ */
h1 {
    color: #ffb74d;
    text-shadow: 0 0 8px rgba(255, 183, 77, 0.6);
}
ul {
    line-height: 2;
}
a {
    font-weight: 700;
    text-decoration: none;
}
p {
    line-height: 1.5;
}
/* レイアウト */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5%;
    background-color: #161b22;
}
main {
    padding-bottom: 1px;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-position: center;
}
footer {
    padding: 1px 0;
    text-align: center;
}
/* コンポーネント */
.features{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.article {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.article {
    font-size: 1.25rem;
    padding: 1em 5%;
}
.info-section {
    display: flex;
    justify-content: center;
    margin: 1.5em;
    gap: 20px;
}
.nav-link {
    color: #fff;
}
.info-block h3 {
    font-size: 1.25rem;
}
.info-block {
    background-color: rgba(74, 35, 90, 0.8);
    border: 2px solid #af7ac5;
    box-shadow: 0 0 15px rgba(175, 122, 197, 0.3);
    padding: 0 2% 1%;
    border-radius: 1em;
    flex: 1 1 300px;
    min-width: 250px;
    max-width: 450px;
}
.discord-btn {
    display: block;
    background-color: #5865f2;
    color: #fff !important;
    text-align: center;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
    transition:
        transform 0.2s,
        background-color 0.2s;
}
/* ユーティリティ */
a:hover {
    color: #ffd180;
    text-shadow: 0 0 5px #ffd54f;
}
.discord-btn:hover {
    background-color: #4752c4;
    transform: translateY(-2px);
    text-shadow: none;
}
/* メディアクエリ（タブレット・スマホ用） */
@media (max-width: 950px) {
    html {
        font-size: 14px;
    }
    main {
        background-image: url(../images/background-axis.webp);
        background-size: cover;
    }
    .info-section {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .info-block {
        width: 90%;
        margin: 15px auto;
        min-width: unset;
        padding: 1px 4%;
        box-sizing: border-box;
    }
}
/* メディアクエリ（スマホ用） */
@media (max-width: 600px) {
    .nav-link,
    .features,
    .features-list {
        display: none;
    }
}
/* メディアクエリ（大型モニタ用） */
@media (min-width: 1800px) {
    .info-section {
        justify-content: flex-start;
        padding-left: 5%;
        gap: 40px;
    }
    .info-block {
        width: 450px;
        max-width: 100%;
        flex: none;
    }
}