html{
    color: wheat;
}
header{
    padding: 1px 0px 1px 5%;
    background-color:#682919;
    font: bold 1.75rem sans-serif;
}
body{
    margin: 0px;
}
main{
    height: 51rem;
    background-image:url(../images/background.png);
}
ul{
    font: 1.25rem;
    line-height: 2em;
}
.article{
    padding: 1em 0px 2em 5%;
    font: 1.25rem sans-serif;
}
.info-section {
    display: flex;
    justify-content: space-around;
    margin: 3em 1em;;
}
.info-block {
    background-color:rgb(57, 151, 48);
    padding: 1% 1% 1% 1%;
    border-radius: 1em;
    width: 30%;
    line-height: 1em;
}
footer {
    padding: 1px 0px 1px 0px;
    text-align: center;
    color: #ffffff;
    background-color:rgb(73, 73, 73);
    font-size: 1rem;
    
}
