/* 全体 */
body,
html {
    background-color: #333333;
    color:rgba(235, 245, 250, 0.92);
}
body {
    margin: 0;
}
/* タイポグラフィ */
h1 {
    color: #ffb74d;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
ul {
    line-height: 2;
}
a {
    font-weight: 700;
    text-decoration: none;
}
p {
    margin: 1rem;
    line-height: 1.5;
}
/* レイアウト */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 5%;
    background-color: #23272b;
}
main {
    padding-bottom: 1px;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-position: center;
}
footer {
    padding: 1px 0;
    text-align: center;
}
/* コンポーネント */
.article {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    font-size: 1.25rem;
    padding: 1em 5%;
}
.info-section {
    display: flex;
    justify-content: center;
    margin: 1.5em;
    gap: 20px;
}
.nav-link {
    color: #fff;
}
.info-block h3 {
    font-size: 1.25rem;
}
.info-block {
    background-color: #00502fe8;
    padding: 0 1% 1% 1%;
    border-radius: 1em;
    flex: 1 1 300px;
    min-width: 250px;
    max-width: 450px;
}
.discord-btn {
    display: block;
    background-color: #5865f2;
    color: #fff !important;
    text-align: center;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
    transition:
        transform 0.2s,
        background-color 0.2s;
}
/* ユーティリティ */
a:hover {
    color: #ffd180;
    text-shadow: 0 0 5px #ffd54f;
}
.discord-btn:hover {
    background-color: #4752c4;
    transform: translateY(-2px);
    text-shadow: none;
}
/* メディアクエリ（タブレット・スマホ用） */
@media (max-width: 950px) {
    html {
        font-size: 14px;
    }
    main {
        background-image: url(../images/background-axis.webp);
        background-size: cover;
    }
    .info-section {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .info-block {
        width: 90%;
        margin: 15px auto;
        min-width: unset;
        padding: 1px 4%;
        box-sizing: border-box;
    }
}
/* メディアクエリ（スマホ用） */
@media (max-width: 600px) {
    .nav-link {
        display: none;
    }
}
/* メディアクエリ（大型モニタ用） */
@media (min-width: 1800px) {
    .info-section {
        justify-content: flex-start;
        padding-left: 5%;
        gap: 40px;
    }
    .info-block {
        width: 450px;
        max-width: 100%;
        flex: none;
    }
}